<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Links de font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!--Link CSS-->
    <link rel="stylesheet" href="~/css/indexAluno.css">
    <link rel="stylesheet" href="~/css/root.css">

    <!--Link Icones do Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <title>Vascan Aluno</title>
</head>

<body>
    <!--Menu lateral-->
    <nav class="menu">
        <header class="menu-cabecalho">
            <div class="logo">
                <div class="logoProvisoria"></div>
                <h2 class="ocultar">Vascan</h2>
            </div>

            <span class="ocultar">Aluno</span>
        </header>

        <ul class="menu-links">
            <li class="link">
                <a href="#">
                    <i class="bi bi-house-door-fill" aria-hidden="true"></i>
                    <span class="ocultar">Inicio</span>
                </a>
            </li>

            <li class="link">
                <a href="#">
                    <i class="bi bi-calendar-fill" aria-hidden="true"></i>
                    <span class="ocultar">Calendário</span>
                </a>
            </li>

            <li class="link">
                <a href="#">
                    <i class="bi bi-journals" aria-hidden="true"></i>
                    <span class="ocultar">Disciplinas</span>
                </a>
            </li>

            <li class="link">
                <a href="#">
                    <i class="bi bi-graph-up" aria-hidden="true"></i>
                    <span class="ocultar">Notas</span>
                </a>
            </li>

            <li class="link">
                <a href="#">
                    <i class="bi bi-clipboard-fill" aria-hidden="true"></i>
                    <span class="ocultar">Secretaria</span>
                </a>
            </li>
        </ul>

        <div class="btn-modoUsar">
            <a href="#">
                <i class="bi bi-question-circle-fill" aria-hidden="true"></i>
                <span class="ocultar">Como usar</span>
            </a>
        </div>

        <div class="btn-ocultar">
            <i class="bi bi-box-arrow-right" aria-hidden="true"></i>
            <span class="ocultar">Ocultar</span>
        </div>
    </nav>


    <!--Aqui começa o "Corpo" da página-->

    <!--Cabeçalho-->
    <header class="body-cabecalho">
        <h1 class="title">Início</h1>
        <a class="sair" href="#">@Html.ActionLink("Sair", "Index", "Login", null, new { @class = "sair" });</a>
    </header>

    <div class="body">

        <main class="container-principal">
            <div class="boasvindas">
                <div class="texto-boasvindas">
                    <h2>Boas vindas <span class="nome-usuario">Fulano</span>!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pharetra id sapien interdum faucibus.</p>
                    <a href="#">Tour pelo Vascan</a>
                </div>

                <div class="ilustracao-boasvindas"></div>
                <!--<img src="" alt="" class="ilustracao-boasvindas">-->
            </div>

            <nav class="atalhos">
                <h3 class="atalho-titulo">Atalhos</h3>
                <div class="atalhos-link">
                    <a href="#" class="linkatalho"></a>
                    <a href="#" class="linkatalho"></a>
                    <a href="#" class="linkatalho"></a>
                </div>
            </nav>

            <div class="horario">
                <h3 class="horario-titulo">Horário de Aula</h3>
                <div class="quadro-de-horarios">

                    <div class="horario-dia">
                        <span class="titulo-dia">Seg</span>
                        <div class="aula">
                            <p>Aula 1</p>
                        </div>
                        <div class="aula">
                            <p>Aula 2</p>
                        </div>
                        
                        <div class="intervalo"></div>
                        
                        <div class="aula">
                            <p>Aula 3</p>
                        </div>
                        <div class="aula">
                            <p>Aula 4</p>
                        </div>
                    </div>
                    
                    <div class="horario-dia">
                        <span class="titulo-dia">Ter</span>
                        <div class="aula">
                            <p>Aula 1</p>
                        </div>
                        <div class="aula">
                            <p>Aula 2</p>
                        </div>
                        
                        <div class="intervalo"></div>
                        
                        <div class="aula">
                            <p>Aula 3</p>
                        </div>
                        <div class="aula">
                            <p>Aula 4</p>
                        </div>
                    </div>

                    <div class="horario-dia">
                        <span class="titulo-dia">Qua</span>
                        <div class="aula">
                            <p>Aula 1</p>
                        </div>
                        <div class="aula">
                            <p>Aula 2</p>
                        </div>
                        
                        <div class="intervalo"></div>
                        
                        <div class="aula">
                            <p>Aula 3</p>
                        </div>
                        <div class="aula">
                            <p>Aula 4</p>
                        </div>
                    </div>

                    <div class="horario-dia">
                        <span class="titulo-dia">Qui</span>
                        <div class="aula">
                            <p>Aula 1</p>
                        </div>
                        <div class="aula">
                            <p>Aula 2</p>
                        </div>
                        
                        <div class="intervalo"></div>
                        
                        <div class="aula">
                            <p>Aula 3</p>
                        </div>
                        <div class="aula">
                            <p>Aula 4</p>
                        </div>
                    </div>

                    <div class="horario-dia">
                        <span class="titulo-dia">Sex</span>
                        <div class="aula">
                            <p>Aula 1</p>
                        </div>
                        <div class="aula">
                            <p>Aula 2</p>
                        </div>
                        
                        <div class="intervalo"></div>
                        
                        <div class="aula">
                            <p>Aula 3</p>
                        </div>
                        <div class="aula">
                            <p>Aula 4</p>
                        </div>
                    </div>

                </div>
            </div>
        </main>

        <aside class="container-aside">
            
            <div class="agenda">
                <h3 class="agenda-titulo">Agenda Escolar</h3>

                <div class="tarefas">
                    <div class="data">
                        <p class="data-tarefa">19/09</p>
                        <span class="data-tarefa_dia">segunda</span>
                    </div>

                    <p class="texto-tarefa">Lorem ipsum</p>
                </div>
                
                <div class="tarefas">
                    <div class="data">
                        <p class="data-tarefa">19/09</p>
                        <span class="data-tarefa_dia">segunda</span>
                    </div>

                    <p class="texto-tarefa">Lorem ipsum</p>
                </div>

                <a href="#">Ver tudo em Calendário</a>
            </div>
            
            <div class="tarefasdiarias">
                <h3 class="tarefas-titulo">Lembretes</h3>

                <div class="form-tarefas">
                    <input type="text" name="lembretes" id="lembretes" placeholder="Adicione um Lembrete">
                    <button type="submit" >+</button>
                </div>
            </div>
        </aside>
    </div>


    <!--Área de Scripts-->
    <script src="~/js/menu.js"></script>
</body>
</html>

<!--Elementos que estão com *class="ocultar"*, são elementos que não ficarão visíveis quando o menu fechar-->